@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Causten-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Causten-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Causten-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Causten-Semi-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Causten';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Causten-Bold.ttf') format('ttf');
}

/* _______________________________________________________________*/

@font-face {
    font-family: 'Core-Sans-C';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/CoreSansC-45Regular.woff') format('woff');
}

@font-face {
    font-family: 'Core-Sans-C';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/CoreSansC-55Medium.woff') format('woff');
}

@font-face {
    font-family: 'Core-Sans-C';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/CoreSansC-65Bold.woff') format('woff');
}

@font-face {
    font-family: 'Core-Sans-C';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/CoreSansC-75ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Core-Sans-C';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/CoreSansC-85Heavy.woff') format('woff');
}

